<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Education Technology">
      <%= assigns[:page_title] || "Java Cafe" %>
    </.live_title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />  <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="https://basicjava101.github.io/assets/css/main.css" />

  <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
  </script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


</head>
  <body class="bg-white antialiased">
    <nav class="fixed top-0 z-40 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 top-nav">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-left justify-between">
          <div class="flex items-left justify-start rtl:justify-end">
            <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
            </button>

              <a href="/">
                <img src="https://basicjava101.github.io/assets/images/java.png" width="36" class="pr-2"/>
              </a>
              <a href="/">

                <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-slate-700">Java Café</span>
              </a>
          </div>
          <div class="flex items-center">
              <div class="flex items-center ms-3">
                <div>
                  <%= if @current_user do %>
                      <.link
                      href={~p"/users/settings"}
                      class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700 text-white"
                      >
                        Hi, <%= @current_user.name %>!
                      </.link>

                      <.link
                      href={~p"/users/log_out"}
                      method="delete"
                      class="text-[0.8125rem] leading-6 text-zinc-700  hover:text-zinc-700"
                    >
                      Log out
                    </.link>
                  <% else %>
                    <.link
                      href={~p"/users/register"}
                      class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                    >
                      Register
                    </.link>
                    |
                    <.link
                      href={~p"/users/log_in"}
                      class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                    >
                      Log in
                    </.link>
                  <% end %>

                </div>
              </div>
            </div>
        </div>
      </div>
    </nav>

    <aside id="logo-sidebar" class="h-max fixed w-32 top-0 left-0 z-30 h-screen pt-20 transition-transform -translate-x-full border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
      <div class="h-full px-3 pb-4 overflow-y-auto dark:bg-gray-800">
        <ul class="font-medium h-max sidebar">
          <li>
              <a href="/quizzes/pre_quiz" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <span class="checkmark empty-circle"></span>0. Pre Quiz
              </a>
          </li>
          <li>
              <a href="/lessons/data_types" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <span class="checkmark empty-circle"></span>1. Data Types
              </a>
          </li>
          <li>
              <a href="/lessons/variables" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="checkmark empty-circle"></span>2. Variables
              </a>
          </li>
          <li>
              <a href="/lessons/string" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="checkmark empty-circle"></span>3. String
              </a>
          </li>
          <li>
              <a href="/lessons/class" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="checkmark empty-circle"></span>4. Class
              </a>
          </li>
          <li>
            <a href="/lessons/method" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <span class="checkmark empty-circle"></span>5. Method
            </a>
          </li>
          <li>
              <a href="/lessons/objects" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="checkmark empty-circle"></span>6. Objects
              </a>
          </li>
          <li>
            <a href="/quizzes/post_quiz" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <span class="checkmark empty-circle"></span>7. Post Quiz
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <div class="p-4 sm:ml-32 mt-12 text-slate-700 dark:text-slate-300">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </body>
</html>
