@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

a {
  text-decoration: none;
  border-bottom: 0;
}

h1, h2, h3, h4, h5, nav {
  font-family: "Roboto Slab",serif;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 13px;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

body {
  max-width: 95%;
  font-family: "Open Sans", sans-serif;
}
#logo-sidebar {
  border-right: 1px solid #DDD;
}

#logo-sidebar, .sidebar {
  background-color: #fafbfc;
}

p {
  padding-bottom: 13px;
}

.sidebar {
  font-family: "Roboto Slab",serif;
}

.sidebar li {
  border-left: 2px dashed #CCC;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icons-outline {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.sidebar .checkmark {
  position: absolute;
  left: 8px;
  font-size: 24px;
}

.sidebar .checked {
  color: #52BE4F;
  background-color: white;
}

.sidebar .empty-circle {
  color: white;
  border: 2px solid #7f888f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.top-nav {
  border-bottom: 1px solid #EEE;
}

header p {
  text-transform: none;

}

.primary-btn {
  background-color: #007396;
  color: white !important;
  border: 0 !important;
  box-shadow:none;
}

button {
  box-shadow: none;
  color: inherit !important;
}

.lesson-image {
  text-align: center;
  place-content: center;
}

.lesson-image p {
  font-size: 11px;
}

.lesson-image img {
  display: inline-block;
}

h3 {
  font-size: 23px;
}

.lesson h3 {
  padding-top: 5px;
}

strong {
  color: #222;
}

.lesson-actions {
  text-align: center;
}

.lesson-next {
  background-color: #007396;
  margin-top: 15px;
  padding: 5px 15px;
  font-weight: 600;
}

.lesson-next a {
  color: white;
}

.lesson-next a:hover {
  color: white;
  background-color: #222;
  margin-top: 15px;
  padding: 5px 15px;
  font-weight: 600;
}
