<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:order]} type="number" label="Order" />
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:view]} type="text" label="View" />
  <:actions>
    <.button>Save Lesson</.button>
  </:actions>
</.simple_form>
