<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:lesson_id]} type="number" label="Lesson" />
  <.input field={f[:order_id]} type="number" label="Order" />
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:answer]} type="text" label="Answer" />
  <:actions>
    <.button>Save Quiz</.button>
  </:actions>
</.simple_form>
