<h1>Thank you!</h1>
<p> Thank you for your time and participation in this project. Your actions will give insights on how I can build a course that will help newcomer learn.</p>
<img src="https://images.unsplash.com/photo-1560743641-3914f2c45636?q=80&w=1851&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="500px">
