<.header>
  New Quiz question
  <:subtitle>Use this form to manage quiz_question records in your database.</:subtitle>
</.header>

<.quiz_question_form changeset={@changeset} action={~p"/quiz_questions"} />

<.back navigate={~p"/quiz_questions"}>Back to quiz_questions</.back>
