<.header>
  New Quiz submission
  <:subtitle>Use this form to manage quiz_submission records in your database.</:subtitle>
</.header>

<.quiz_submission_form changeset={@changeset} action={~p"/quiz_submissions"} />

<.back navigate={~p"/quiz_submissions"}>Back to quiz_submissions</.back>
